<ion-content padding>
  <div padding-vertical="20px" padding-horizontal="10px">
    <div class="circle-content">
      <div class="circle" *ngIf="temperature" [temp-color]="temperature.value">
        <div class="temperature">{{ formattedTemperature }}</div>
      </div>
    </div>
    <ion-row *ngIf="extreme" padding-top="20px" class="extreme">
      <ion-col text-center class="pastel-blue">
        <ion-icon name="snow"></ion-icon>
        <div padding-vertical="5px" *ngIf="extreme.min">
          <div>{{ extreme.min.value }}°C</div>
          <div class="date" padding-vertical="5px"> {{ extreme.min.date | date:'HH:mm'}} </div>
        </div>
      </ion-col>
      <ion-col text-center class="light-orange">
        <ion-icon name="sunny"></ion-icon>
        <div padding-vertical="5px" *ngIf="extreme.max">
          <div> {{ extreme.max.value }}°C </div>
          <div class="date" padding-vertical="5px"> {{ extreme.max.date | date:'HH:mm'}} </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>