page-weather {
  .circle-content {
    max-width: 300px;
    margin: 30px auto;
    text-align: center;

    .circle {
      position: relative;
      width: 100%;
      padding-top: 100%;
      text-align: center;
      border-radius: 50%;

      .temperature, .pressure {
        position: absolute;
        width: 100%;
      }

      .temperature {
        top: 1.5em;
        font-size: 5em;
      }

      .pressure {
        top: 1.5em;
        font-size: 3em;

        ion-icon {
          margin-bottom: 0.2em;
          font-size: 2em;
        }
      }
    }
  }
 
}
