// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bg-dark-blue {
  background-color: #10056b;
}

.dark-blue {
  color: #10056b;
}

.bg-blue {
  background-color: #0080ff;
}

.blue {
  color: #0080ff;
}

.bg-pastel-blue {
  background-color: #318ce7;
}

.pastel-blue {
  color: #318ce7;
}

.bg-light-blue {
  background-color: #77b5fe;
}

.light-blue {
  color: #77b5fe;
}

.bg-light-green {
  background-color: #b6d788;
}

.light-green {
  color: #b6d788;
}

.bg-green {
  background-color: #56a639;
}

.green {
  color: #56a639;
}

.bg-light-orange {
  background-color: #ffa420;
}

.light-orange {
  color: #ffa420;
}

.bg-orange {
  background-color: #ed7604;
}

.orange {
  color: #ed7604;
}

.bg-red {
  background-color: #ff2301;
}

.red {
  color: #ff2301;
}

.bg-dark-red {
  background-color: #f80000;
}

.dark-red {
  color: #f80000;
}